.DS_Store
_notes/
/tmp/
/logs/
/build.conf
# Ignore Vim swap files
.*.swp
upload.sh
# eclipse
.buildpath
.project
.settings/
# PhpStorm
.idea
*.php-e
.zanata-cache
src/usr/local/share/Kontrol/keys/pkg/trusted/kontrol-staging.brasilia.me:8081.20180421
src/usr/local/share/Kontrol/keys/pkg/trusted/kontrol-staging.brasilia.me
src/usr/local/share/Kontrol/keys/pkg/trusted/kontrol-pkg.brasilia.me
src/usr/local/share/Kontrol/keys/pkg/trusted/kontrol-pkg.brasilia.me:8081.20180421
src/usr/local/share/Kontrol/keys/pkg/trusted/kontrol-staging.brasilia.me:8081.20180421
